In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_1 = pd.read_excel("5SINIF_1.xlsx")

In [4]:
df_1.head()

,NO,Std_No,Std_Name,Std_C,Tur_D_Y_N,Tar_D_Y_N,Din_D_Y_N,Ing_D,Ing_Y,Ing_N,...,Fen_Y,Fen_N,Top_D,Top_Y,Top_N,LGS,Der_C_S,Der_Mer,Der_Ama,Der_Gnl
0,1,253,ZEYNEP TÜREL,5C,"14 1 13,67","10 0 10,00","9 1 8,67",10.0,0.0,10.00,...,0,15.00,73,2,72.34,488.641,1 1,1,1,1
1,2,104,ASUDE YÜKSEL,5B,"14 1 13,67","9 1 8,67","9 1 8,67",10.0,0.0,10.00,...,1,13.67,71,4,69.68,476.061,1 2,2,2,6
2,3,360,ALPER ÖZDEMİR,5A,"13 2 12,33","8 2 7,33","10 0 10,00",8.0,2.0,7.33,...,0,15.00,69,6,66.99,469.712,1 3,3,3,12
3,4,356,TAHA TAŞ,5A,"14 1 13,67","9 1 8,67","10 0 10,00",4.0,3.0,3.00,...,0,15.00,67,5,65.34,469.488,2 4,4,4,13
4,5,367,BEYZA KILIÇ,5B,"14 1 13,67","10 0 10,00","10 0 10,00",10.0,0.0,10.00,...,0,14.00,71,3,70.00,462.012,2 5,5,5,25

In [5]:
df_2 = pd.read_excel("5SINIF_2.xlsx")
df_2.head()

,NO,Std_No,Std_Name,Std_C,Tur_D_Y_N,Tar_D_Y_N,Din_D_Y_N,Ing_D,Ing_Y,Ing_N,Mat_D_Y_N,Fen_D_Y_N,Top_D,Top_Y,Top_N,LGS,Der_C_S,Der_Mer,Der_Ama,Der_Gnl
0,1,360,ALPER ÖZDEMİR,5A,"11 4 9,67","10 0 10,00","9 1 8,67",10.0,0.0,10.00,"14 1 13,67","14 1 13,67",68,7,65.68,443.880,1 1,1,1,"244\n% 0,34"
1,2,358,TAHA TAŞ,5A,"12 3 11,00","9 1 8,67","8 2 7,33",9.0,1.0,8.67,"15 0 15,00","11 4 9,67",64,11,60.34,424.093,2 2,2,2,"623\n% 0,86"
2,3,390,NİL BİLGE İZMİRLİ,5A,"11 2 10,33","9 1 8,67","9 1 8,67",10.0,0.0,10.00,"11 1 10,67","14 1 13,67",64,6,62.01,422.890,3 3,3,3,"656\n% 0,90"
3,4,397,MELİK KAAN ÖZÇELİK,5A,"10 3 9,00","9 1 8,67","10 0 10,00",10.0,0.0,10.00,"12 1 11,67","13 2 12,33",64,7,61.67,415.173,4 4,5,5,"871\n% 1,20"
4,5,156,ÇINAR GÜNGÖREN,5A,"10 5 8,33","10 0 10,00","7 1 6,67",10.0,0.0,10.00,"11 1 10,67","14 1 13,67",62,8,59.34,408.923,5 5,6,6,"1100\n% 1,51"

In [6]:
df_3 = pd.read_excel("5SINIF_3.xlsx")
df_3.head()

,NO,Std_No,Std_Name,Std_C,Tur_D_Y_N,Tar_D_Y_N,Din_D_Y_N,Ing_D,Ing_Y,Ing_N,...,Fen_Y,Fen_N,Top_D,Top_Y,Top_N,LGS,Der_C_S,Der_Mer,Der_Ama,Der_Gnl
0,1,360,ALPER ÖZDEMİR,5A,"15 0 15,00","10 0 10,00","10 0 10,00",10,0,10.0,...,0,15.00,73,2,72.33,480.293,1 1,1,1,"77\n% 0,07"
1,2,253,ZEYNEP TÜREL,5C,"13 2 12,33","10 0 10,00","10 0 10,00",10,0,10.0,...,0,15.00,71,4,69.66,463.360,1 2,2,7,"275\n% 0,27"
2,3,390,NİL BİLGE İZMİRLİ,5A,"15 0 15,00","9 1 8,67","10 0 10,00",10,0,10.0,...,0,15.00,69,4,67.67,452.607,2 3,3,8,"484\n% 0,47"
3,4,170,DURU ŞAHİN,5A,"12 3 11,00","10 0 10,00","9 1 8,67",10,0,10.0,...,1,13.67,67,8,64.34,432.640,3 4,4,17,"1107\n% 1,07"
4,5,200,KORAY GACARLAR,5B,"15 0 15,00","10 0 10,00","10 0 10,00",10,0,10.0,...,2,10.33,67,4,65.66,432.193,1 5,5,18,"1132\n% 1,10"

In [7]:
df_4 = pd.read_excel("5SINIF_4.xlsx")
df_4.head()

,NO,Std_No,Std_Name,Std_C,Tur_D_Y_N,Tar_D_Y_N,Din_D_Y_N,Ing_D,Ing_Y,Ing_N,...,Fen_D_Y_N,Top_D,Top_Y,Top_N,LGS,Der_C_S,Der_Mer,Der_Ama,Unnamed: 19,Der_Gnl
0,1,253,ZEYNEP TÜREL,5C,"13 2 12,33","10 0 10,00","10 0 10,00",9,0,9.00,...,"13 2 12,33",68,5,66.33,444.073,1 1,1,1,NaN,"133\n% 0,41"
1,2,360,ALPER ÖZDEMİR,5A,"13 2 12,33","9 1 8,67","8 2 7,33",10,0,10.00,...,"13 2 12,33",66,9,62.99,435.507,1 2,2,2,NaN,"198\n% 0,61"
2,3,367,BEYZA KILIÇ,5B,"12 3 11,00","8 2 7,33","9 1 8,67",9,1,8.67,...,"13 1 12,67",64,9,61.01,428.097,1 3,3,3,NaN,"292\n% 0,90"
3,4,200,KORAY GACARLAR,5B,"10 5 8,33","9 1 8,67","6 3 5,00",10,0,10.00,...,"12 3 11,00",62,12,58.00,415.253,2 4,4,4,NaN,"462\n% 1,42"
4,5,390,NİL BİLGE İZMİRLİ,5A,"10 4 8,67","10 0 10,00","10 0 10,00",6,4,4.67,...,"13 2 12,33",62,10,58.67,411.510,2 5,5,5,NaN,"507\n% 1,56"

In [8]:
df_5 = pd.read_excel("5SINIF_5.xlsx")
df_5.head()

,NO,Std_No,Std_Name,Std_C,Tur_D_Y_N,Tar_D_Y_N,Din_D_Y_N,Ing_D,Ing_Y,Ing_N,Mat_D_Y_N,Fen_D_Y_N,Top_D,Top_Y,Top_N,LGS,Der_C_S,Der_Mer,Der_Ama,Der_Gnl
0,1,360,ALPER ÖZDEMİR,5A,"13 2 12,33","9 1 8,67","10 0 10,00",10.0,0.0,10.00,"12 3 11,00","13 2 12,33",67,8,64.33,431.413,1 1,1,1,"89\n% 0,91"
1,2,104,ASUDE YÜKSEL,5B,"14 1 13,67","9 1 8,67","9 1 8,67",10.0,0.0,10.00,"12 3 11,00","11 4 9,67",65,10,61.68,417.960,1 2,2,2,"139\n% 1,41"
2,3,358,TAHA TAŞ,5A,"13 1 12,67","8 2 7,33","6 0 6,00",NaN,NaN,NaN,"13 2 12,33","14 1 13,67",54,6,52.00,414.110,2 3,3,3,"154\n% 1,57"
3,4,200,KORAY GACARLAR,5B,"13 1 12,67","7 3 6,00","9 1 8,67",9.0,1.0,8.67,"9 3 8,00","14 1 13,67",61,10,57.68,408.280,2 4,4,4,"188\n% 1,91"
4,5,367,BEYZA KILIÇ,5B,"14 1 13,67","8 2 7,33","8 2 7,33",10.0,0.0,10.00,"10 4 8,67","12 3 11,00",62,12,58.00,404.303,3 5,5,5,"208\n% 2,12"

In [9]:
df_1["SINAV"] = "Argon_CDS"

In [10]:
df_1.head()

,NO,Std_No,Std_Name,Std_C,Tur_D_Y_N,Tar_D_Y_N,Din_D_Y_N,Ing_D,Ing_Y,Ing_N,...,Fen_N,Top_D,Top_Y,Top_N,LGS,Der_C_S,Der_Mer,Der_Ama,Der_Gnl,SINAV
0,1,253,ZEYNEP TÜREL,5C,"14 1 13,67","10 0 10,00","9 1 8,67",10.0,0.0,10.00,...,15.00,73,2,72.34,488.641,1 1,1,1,1,Argon_CDS
1,2,104,ASUDE YÜKSEL,5B,"14 1 13,67","9 1 8,67","9 1 8,67",10.0,0.0,10.00,...,13.67,71,4,69.68,476.061,1 2,2,2,6,Argon_CDS
2,3,360,ALPER ÖZDEMİR,5A,"13 2 12,33","8 2 7,33","10 0 10,00",8.0,2.0,7.33,...,15.00,69,6,66.99,469.712,1 3,3,3,12,Argon_CDS
3,4,356,TAHA TAŞ,5A,"14 1 13,67","9 1 8,67","10 0 10,00",4.0,3.0,3.00,...,15.00,67,5,65.34,469.488,2 4,4,4,13,Argon_CDS
4,5,367,BEYZA KILIÇ,5B,"14 1 13,67","10 0 10,00","10 0 10,00",10.0,0.0,10.00,...,14.00,71,3,70.00,462.012,2 5,5,5,25,Argon_CDS

In [11]:
df_2["SINAV"] = "Mozaik_1"

In [12]:
df_3["SINAV"] = "Zeka"

In [13]:
df_4["SINAV"] = "Mozaik_2"

In [14]:
df_5["SINAV"] = "Mozaik_3"

In [15]:
df_4.drop(columns='Unnamed: 19',inplace=True)

In [16]:
df_1.shape,df_2.shape,df_3.shape,df_4.shape,df_5.shape

((125, 25), (73, 21), (77, 25), (73, 21), (54, 21))

In [17]:
display(df_1.head(),df_3.head())

,NO,Std_No,Std_Name,Std_C,Tur_D_Y_N,Tar_D_Y_N,Din_D_Y_N,Ing_D,Ing_Y,Ing_N,...,Fen_N,Top_D,Top_Y,Top_N,LGS,Der_C_S,Der_Mer,Der_Ama,Der_Gnl,SINAV
0,1,253,ZEYNEP TÜREL,5C,"14 1 13,67","10 0 10,00","9 1 8,67",10.0,0.0,10.00,...,15.00,73,2,72.34,488.641,1 1,1,1,1,Argon_CDS
1,2,104,ASUDE YÜKSEL,5B,"14 1 13,67","9 1 8,67","9 1 8,67",10.0,0.0,10.00,...,13.67,71,4,69.68,476.061,1 2,2,2,6,Argon_CDS
2,3,360,ALPER ÖZDEMİR,5A,"13 2 12,33","8 2 7,33","10 0 10,00",8.0,2.0,7.33,...,15.00,69,6,66.99,469.712,1 3,3,3,12,Argon_CDS
3,4,356,TAHA TAŞ,5A,"14 1 13,67","9 1 8,67","10 0 10,00",4.0,3.0,3.00,...,15.00,67,5,65.34,469.488,2 4,4,4,13,Argon_CDS
4,5,367,BEYZA KILIÇ,5B,"14 1 13,67","10 0 10,00","10 0 10,00",10.0,0.0,10.00,...,14.00,71,3,70.00,462.012,2 5,5,5,25,Argon_CDS

,NO,Std_No,Std_Name,Std_C,Tur_D_Y_N,Tar_D_Y_N,Din_D_Y_N,Ing_D,Ing_Y,Ing_N,...,Fen_N,Top_D,Top_Y,Top_N,LGS,Der_C_S,Der_Mer,Der_Ama,Der_Gnl,SINAV
0,1,360,ALPER ÖZDEMİR,5A,"15 0 15,00","10 0 10,00","10 0 10,00",10,0,10.0,...,15.00,73,2,72.33,480.293,1 1,1,1,"77\n% 0,07",Zeka
1,2,253,ZEYNEP TÜREL,5C,"13 2 12,33","10 0 10,00","10 0 10,00",10,0,10.0,...,15.00,71,4,69.66,463.360,1 2,2,7,"275\n% 0,27",Zeka
2,3,390,NİL BİLGE İZMİRLİ,5A,"15 0 15,00","9 1 8,67","10 0 10,00",10,0,10.0,...,15.00,69,4,67.67,452.607,2 3,3,8,"484\n% 0,47",Zeka
3,4,170,DURU ŞAHİN,5A,"12 3 11,00","10 0 10,00","9 1 8,67",10,0,10.0,...,13.67,67,8,64.34,432.640,3 4,4,17,"1107\n% 1,07",Zeka
4,5,200,KORAY GACARLAR,5B,"15 0 15,00","10 0 10,00","10 0 10,00",10,0,10.0,...,10.33,67,4,65.66,432.193,1 5,5,18,"1132\n% 1,10",Zeka

In [18]:
df=pd.concat([df_1,df_3])

In [19]:
pd.concat([df_2,df_5]).iloc[70:80]

,NO,Std_No,Std_Name,Std_C,Tur_D_Y_N,Tar_D_Y_N,Din_D_Y_N,Ing_D,Ing_Y,Ing_N,...,Fen_D_Y_N,Top_D,Top_Y,Top_N,LGS,Der_C_S,Der_Mer,Der_Ama,Der_Gnl,SINAV
70,71,524,POYRAZ K IRIMLI,5C,NaN,"4 6 2,00","5 5 3,33",6.0,4.0,4.67,...,"1 14 -3,67",23,52,5.66,108.173,19 71,196,218,65524\n% 90,Mozaik_1
71,72,265,ASEL KARAKAYA,5B,NaN,"0 10 -3,33","4 5 2,33",2.0,5.0,0.33,...,"0 5 -1,67",11,39,-2.01,105.807,22 72,197,219,66298\n% 91,Mozaik_1
72,73,332,MUHA MET EMİN KAY,5C,NaN,"1 9 -2,00","2 8 -0,67",2.0,7.0,-0.33,...,"3 11 -0,67",14,54,-4.00,102.093,20 73,202,226,67367\n% 93,Mozaik_1
0,1,360,ALPER ÖZDEMİR,5A,"13 2 12,33","9 1 8,67","10 0 10,00",10.0,0.0,10.00,...,"13 2 12,33",67,8,64.33,431.413,1 1,1,1,"89\n% 0,91",Mozaik_3
1,2,104,ASUDE YÜKSEL,5B,"14 1 13,67","9 1 8,67","9 1 8,67",10.0,0.0,10.00,...,"11 4 9,67",65,10,61.68,417.960,1 2,2,2,"139\n% 1,41",Mozaik_3
2,3,358,TAHA TAŞ,5A,"13 1 12,67","8 2 7,33","6 0 6,00",NaN,NaN,NaN,...,"14 1 13,67",54,6,52.00,414.110,2 3,3,3,"154\n% 1,57",Mozaik_3
3,4,200,KORAY GACARLAR,5B,"13 1 12,67","7 3 6,00","9 1 8,67",9.0,1.0,8.67,...,"14 1 13,67",61,10,57.68,408.280,2 4,4,4,"188\n% 1,91",Mozaik_3
4,5,367,BEYZA KILIÇ,5B,"14 1 13,67","8 2 7,33","8 2 7,33",10.0,0.0,10.00,...,"12 3 11,00",62,12,58.00,404.303,3 5,5,5,"208\n% 2,12",Mozaik_3
5,6,409,ÖMER HALİL YILDIRIM,5D,"10 4 8,67","8 2 7,33","10 0 10,00",10.0,0.0,10.00,...,"12 3 11,00",62,11,58.33,398.020,1 6,6,6,"251\n% 2,55",Mozaik_3
6,7,498,ZELİHA CEBECİOĞLU,5B,"14 1 13,67","8 2 7,33","9 1 8,67",10.0,0.0,10.00,...,"13 2 12,33",60,7,57.67,394.533,4 7,7,7,"276\n% 2,81",Mozaik_3

In [20]:
df.head(50)

,NO,Std_No,Std_Name,Std_C,Tur_D_Y_N,Tar_D_Y_N,Din_D_Y_N,Ing_D,Ing_Y,Ing_N,...,Fen_N,Top_D,Top_Y,Top_N,LGS,Der_C_S,Der_Mer,Der_Ama,Der_Gnl,SINAV
0,1,253,ZEYNEP TÜREL,5C,"14 1 13,67","10 0 10,00","9 1 8,67",10.0,0.0,10.00,...,15.00,73,2,72.34,488.641,1 1,1,1,1,Argon_CDS
1,2,104,ASUDE YÜKSEL,5B,"14 1 13,67","9 1 8,67","9 1 8,67",10.0,0.0,10.00,...,13.67,71,4,69.68,476.061,1 2,2,2,6,Argon_CDS
2,3,360,ALPER ÖZDEMİR,5A,"13 2 12,33","8 2 7,33","10 0 10,00",8.0,2.0,7.33,...,15.00,69,6,66.99,469.712,1 3,3,3,12,Argon_CDS
3,4,356,TAHA TAŞ,5A,"14 1 13,67","9 1 8,67","10 0 10,00",4.0,3.0,3.00,...,15.00,67,5,65.34,469.488,2 4,4,4,13,Argon_CDS
4,5,367,BEYZA KILIÇ,5B,"14 1 13,67","10 0 10,00","10 0 10,00",10.0,0.0,10.00,...,14.00,71,3,70.00,462.012,2 5,5,5,25,Argon_CDS
5,6,200,KORAY GACARLAR,5B,"12 3 11,00","9 1 8,67","7 3 6,00",9.0,1.0,8.67,...,15.00,67,8,64.34,459.252,3 6,6,6,27,Argon_CDS
6,7,390,NİL BİLGE İZMİRLİ,5A,"15 0 15,00","9 1 8,67","9 1 8,67",7.0,3.0,6.00,...,11.00,67,8,64.34,454.637,3 7,7,7,38,Argon_CDS
7,8,397,MELİK KAAN ÖZÇELİK,5A,"12 3 11,00","8 2 7,33","10 0 10,00",9.0,1.0,8.67,...,15.00,68,7,65.67,453.669,4 8,8,8,42,Argon_CDS
8,9,78,ÇAĞAN IŞIK AKSOĞA,5B,"11 4 9,67","8 2 7,33","9 1 8,67",9.0,1.0,8.67,...,15.00,67,8,64.34,453.497,4 9,9,9,43,Argon_CDS
9,10,170,DURU ŞAHİN,5A,"12 2 11,33","9 1 8,67","10 0 10,00",9.0,1.0,8.67,...,12.33,68,6,66.00,450.982,5 10,10,10,46,Argon_CDS
10,11,409,ÖMER HALİL YILDIRIM,5D,"12 3 11,00","9 1 8,67","10 0 10,00",10.0,0.0,10.00,...,12.67,68,6,66.01,443.674,1 11,11,11,62,Argon_CDS
11,12,341,HALİL ÜNAL,5C,"15 0 15,00","10 0 10,00","10 0 10,00",7.0,2.0,6.33,...,10.00,67,6,65.00,443.154,2 12,12,12,63,Argon_CDS
12,13,297,BERİL PERVANE,5C,"12 2 11,33","10 0 10,00","8 2 7,33",7.0,2.0,6.33,...,12.33,65,8,62.32,441.937,3 13,13,13,68,Argon_CDS
13,14,241,GAMZE BER İLDELAK,5B,"13 2 12,33","9 1 8,67","9 1 8,67",10.0,0.0,10.00,...,12.33,67,8,64.33,435.692,5 14,14,14,91,Argon_CDS
14,15,388,AYŞE ELİF ERGÜLER,5B,"14 1 13,67","8 2 7,33","7 3 6,00",10.0,0.0,10.00,...,12.33,65,10,61.66,435.335,6 15,15,15,94,Argon_CDS
15,16,220,ECRİN HÜMA İZGİ,5C,"11 3 10,00","10 0 10,00","8 2 7,33",10.0,0.0,10.00,...,12.33,66,7,63.66,435.019,4 16,16,16,96,Argon_CDS
16,17,498,ZELİHA CEBECİOĞLU,5B,"12 3 11,00","10 0 10,00","9 1 8,67",10.0,0.0,10.00,...,11.00,67,7,64.67,434.735,7 17,17,17,98,Argon_CDS
17,18,545,YUSUF DEMİRCİ,5C,"14 1 13,67","9 1 8,67","9 1 8,67",10.0,0.0,10.00,...,11.00,67,8,64.34,434.640,5 18,18,18,99,Argon_CDS
18,19,156,ÇINAR GÜNGÖREN,5A,"11 4 9,67","8 2 7,33","10 0 10,00",8.0,2.0,7.33,...,11.00,64,11,60.33,424.196,6 19,19,19,123,Argon_CDS
19,20,96,EY L AKTAŞ,5C,"12 3 11,00","10 0 10,00","10 0 10,00",8.0,2.0,7.33,...,9.67,65,10,61.67,418.069,6 20,20,20,140,Argon_CDS
20,21,364,ÇAĞAN EMRE GEGİN,5A,"13 2 12,33","7 3 6,00","9 1 8,67",9.0,1.0,8.67,...,11.00,63,12,59.00,416.440,7 21,21,21,150,Argon_CDS
21,22,541,YAĞMUR USTA,5A,"13 2 12,33","7 2 6,33","7 3 6,00",3.0,5.0,1.33,...,12.33,57,15,51.99,412.253,8 22,22,22,165,Argon_CDS
22,23,491,YEKTA ÇINAR TUNÇ,5C,"10 5 8,33","10 0 10,00","7 3 6,00",7.0,3.0,6.00,...,11.00,61,14,56.33,409.560,7 23,23,23,182,Argon_CDS
23,24,382,İLTERİŞALP ARSLAN,5A,"14 1 13,67","8 2 7,33","7 3 6,00",7.0,2.0,6.33,...,8.33,60,14,55.33,408.005,9 24,24,24,186,Argon_CDS
24,25,152,BİLGE BAL,5A,"12 2 11,33","6 3 5,00","10 0 10,00",4.0,3.0,3.00,...,12.00,57,9,54.00,405.252,10 25,25,25,194,Argon_CDS
25,26,537,YAĞIZ TAZEGÜL,5B,"11 4 9,67","5 5 3,33","8 2 7,33",10.0,0.0,10.00,...,12.33,60,15,54.99,403.637,8 26,26,26,199,Argon_CDS
26,27,504,NAZ ALTUNKİREMİT,5B,"12 1 11,67","8 1 7,67","6 4 4,67",8.0,2.0,7.33,...,12.33,59,13,54.67,402.085,9 27,27,27,206,Argon_CDS
27,28,210,ELİF UYANIK,5D,"14 1 13,67","8 0 8,00","8 2 7,33",7.0,2.0,6.33,...,11.00,59,11,55.33,392.315,2 28,28,28,241,Argon_CDS
28,29,207,ASYA BAYBURTLU,5B,"13 2 12,33","8 2 7,33","7 2 6,33",8.0,2.0,7.33,...,9.67,59,15,53.99,390.118,10 29,29,29,248,Argon_CDS
29,30,237,CEYDA NUR KILIÇ,5B,"12 3 11,00","6 4 4,67","7 3 6,00",9.0,1.0,8.67,...,9.67,58,17,52.34,389.615,11 30,30,30,254,Argon_CDS
30,31,226,MERT ARİF ÇITLAK,5B,"12 3 11,00","8 2 7,33","7 3 6,00",9.0,1.0,8.67,...,8.67,59,15,54.00,388.584,12 31,31,31,261,Argon_CDS
31,32,328,HÜSEYİN TUZCU,5C,"9 6 7,00","7 3 6,00","9 1 8,67",7.0,3.0,6.00,...,11.00,58,17,52.34,386.507,8 32,32,32,267,Argon_CDS
32,33,520,MAHİR ALİ CAN,5C,"11 4 9,67","7 3 6,00","8 2 7,33",8.0,2.0,7.33,...,9.67,58,17,52.33,383.469,9 33,33,33,283,Argon_CDS
33,34,183,BERRA YAVUZ,5C,"12 3 11,00","5 5 3,33","7 3 6,00",9.0,1.0,8.67,...,12.33,57,18,51.00,383.233,10 34,34,34,284,Argon_CDS
34,35,23,ADASUYILMAZ,5C,"10 5 8,33","8 1 7,67","9 1 8,67",6.0,3.0,5.00,...,9.00,56,13,51.67,376.207,11 35,35,35,315,Argon_CDS
35,36,499,NAZLI TORUN,5C,"12 3 11,00","9 1 8,67","6 4 4,67",8.0,2.0,7.33,...,7.33,57,17,51.33,375.613,12 36,36,36,317,Argon_CDS
36,37,98,EFE EKİCİ,5D,"13 0 13,00","8 2 7,33","8 2 7,33",7.0,1.0,6.67,...,10.33,56,10,52.66,374.303,3 37,37,37,321,Argon_CDS
37,38,538,YİĞ T TUNÇ*,5D,"11 4 9,67","9 0 9,00","7 3 6,00",7.0,3.0,6.00,...,12.67,57,16,51.67,371.712,4 38,38,38,334,Argon_CDS
38,39,68,BELİNAY KARAÖZ,5D,"10 4 8,67","8 2 7,33","8 2 7,33",8.0,2.0,7.33,...,9.67,57,17,51.33,368.985,5 39,39,39,350,Argon_CDS
39,40,552,YUSUF EGE ÖNEN,5B,"10 5 8,33","5 5 3,33","9 1 8,67",9.0,1.0,8.67,...,8.33,56,19,49.66,365.864,13 40,40,40,370,Argon_CDS
40,41,544,ZEHRA NAZ KESKİN,5B,"10 5 8,33","8 2 7,33","7 3 6,00",9.0,1.0,8.67,...,7.00,56,19,49.66,359.735,14 41,41,41,401,Argon_CDS
41,42,378,EFE KAVUKCU,5A,"11 4 9,67","7 2 6,33","8 2 7,33",3.0,7.0,0.67,...,8.33,51,18,45.00,359.426,11 42,42,42,404,Argon_CDS
42,43,0,CEREN TÜRKER,5D,"8 7 5,67","8 2 7,33","6 4 4,67",6.0,4.0,4.67,...,13.67,53,22,45.68,354.303,6 43,43,43,428,Argon_CDS
43,44,503,ASEL BAYRAKTR,5A,"12 3 11,00","9 1 8,67","8 2 7,33",6.0,4.0,4.67,...,8.33,55,18,49.00,353.331,12 44,44,44,432,Argon_CDS
44,45,191,ARDA KAĞAN KUTLU,5B,"10 5 8,33","9 1 8,67","8 2 7,33",8.0,2.0,7.33,...,9.67,56,19,49.66,347.549,15 45,45,45,457,Argon_CDS
45,46,502,BERRAK AYAN,5C,"10 4 8,67","10 0 10,00","8 2 7,33",10.0,0.0,10.00,...,9.67,57,14,52.34,345.972,13 46,46,46,463,Argon_CDS
46,47,551,YUSUF ALICI,5C,"12 3 11,00","8 2 7,33","10 0 10,00",9.0,1.0,8.67,...,3.00,57,18,51.00,345.580,14 47,47,47,466,Argon_CDS
47,48,51,DERİN ERDEN,5D,"11 4 9,67","5 5 3,33","8 2 7,33",4.0,6.0,2.00,...,11.00,50,24,42.00,341.654,7 48,48,48,490,Argon_CDS
48,49,174,ECRİ NİSANUR AKKU,5D,"10 4 8,67","5 5 3,33","7 2 6,33",7.0,1.0,6.67,...,8.00,49,16,43.67,341.142,8 49,49,49,493,Argon_CDS
49,50,55,MUSTAFA EGE AĞLAN,5A,"11 4 9,67","9 1 8,67","7 3 6,00",7.0,3.0,6.00,...,5.67,53,20,46.34,337.727,13 50,50,50,504,Argon_CDS

In [21]:
df[["Tur_D","Tur_Y","Tur_N"]] = ex

NameError: name 'ex' is not defined

In [503]:
ex_Tur = df["Tur_D_Y_N"].str.extract("(\d+)\s+(\d\d?)\s+(.*)")

In [504]:
df.head().iloc[:,10:]

,Mat_D,Mat_Y,Mat_N,Fen_D,Fen_Y,Fen_N,Top_D,Top_Y,Top_N,LGS,Der_C_S,Der_Mer,Der_Ama,Der_Gnl,SINAV,Tur_D,Tur_Y,Tur_N
0,15,0,15.00,15,0,15.00,73,2,72.34,488.641,1 1,1,1,1,Argon_CDS,14,1,"13,67"
1,15,0,15.00,14,1,13.67,71,4,69.68,476.061,1 2,2,2,6,Argon_CDS,14,1,"13,67"
2,15,0,15.00,15,0,15.00,69,6,66.99,469.712,1 3,3,3,12,Argon_CDS,13,2,"12,33"
3,15,0,15.00,15,0,15.00,67,5,65.34,469.488,2 4,4,4,13,Argon_CDS,14,1,"13,67"
4,13,2,12.33,14,0,14.00,71,3,70.00,462.012,2 5,5,5,25,Argon_CDS,14,1,"13,67"

In [505]:
ex_Tur = df["Tur_D_Y_N"].str.extract("(\d+)\s+(\d\d?)\s+(.*)")
ex_Tar = df["Tar_D_Y_N"].str.extract("(\d+)\s+(\d\d?)\s+(.*)")
ex_Din = df["Din_D_Y_N"].str.extract("(\d+)\s+(\d\d?)\s+(.*)")

In [506]:
df[["Tur_D","Tur_Y","Tur_N"]] = ex_Tur
df[["Tar_D","Tar_Y","Tar_N"]] = ex_Tar
df[["Din_D","Din_Y","Din_N"]] = ex_Din
df.head()

,NO,Std_No,Std_Name,Std_C,Tur_D_Y_N,Tar_D_Y_N,Din_D_Y_N,Ing_D,Ing_Y,Ing_N,...,SINAV,Tur_D,Tur_Y,Tur_N,Tar_D,Tar_Y,Tar_N,Din_D,Din_Y,Din_N
0,1,253,ZEYNEP TÜREL,5C,"14 1 13,67","10 0 10,00","9 1 8,67",10.0,0.0,10.00,...,Argon_CDS,14,1,"13,67",10,0,"10,00",9,1,"8,67"
1,2,104,ASUDE YÜKSEL,5B,"14 1 13,67","9 1 8,67","9 1 8,67",10.0,0.0,10.00,...,Argon_CDS,14,1,"13,67",9,1,"8,67",9,1,"8,67"
2,3,360,ALPER ÖZDEMİR,5A,"13 2 12,33","8 2 7,33","10 0 10,00",8.0,2.0,7.33,...,Argon_CDS,13,2,"12,33",8,2,"7,33",10,0,"10,00"
3,4,356,TAHA TAŞ,5A,"14 1 13,67","9 1 8,67","10 0 10,00",4.0,3.0,3.00,...,Argon_CDS,14,1,"13,67",9,1,"8,67",10,0,"10,00"
4,5,367,BEYZA KILIÇ,5B,"14 1 13,67","10 0 10,00","10 0 10,00",10.0,0.0,10.00,...,Argon_CDS,14,1,"13,67",10,0,"10,00",10,0,"10,00"

In [507]:
df.drop(columns=["Tur_D_Y_N","Tar_D_Y_N","Din_D_Y_N"], inplace=True)
df.head()

,NO,Std_No,Std_Name,Std_C,Ing_D,Ing_Y,Ing_N,Mat_D,Mat_Y,Mat_N,...,SINAV,Tur_D,Tur_Y,Tur_N,Tar_D,Tar_Y,Tar_N,Din_D,Din_Y,Din_N
0,1,253,ZEYNEP TÜREL,5C,10.0,0.0,10.00,15,0,15.00,...,Argon_CDS,14,1,"13,67",10,0,"10,00",9,1,"8,67"
1,2,104,ASUDE YÜKSEL,5B,10.0,0.0,10.00,15,0,15.00,...,Argon_CDS,14,1,"13,67",9,1,"8,67",9,1,"8,67"
2,3,360,ALPER ÖZDEMİR,5A,8.0,2.0,7.33,15,0,15.00,...,Argon_CDS,13,2,"12,33",8,2,"7,33",10,0,"10,00"
3,4,356,TAHA TAŞ,5A,4.0,3.0,3.00,15,0,15.00,...,Argon_CDS,14,1,"13,67",9,1,"8,67",10,0,"10,00"
4,5,367,BEYZA KILIÇ,5B,10.0,0.0,10.00,13,2,12.33,...,Argon_CDS,14,1,"13,67",10,0,"10,00",10,0,"10,00"

In [508]:
df.columns

Index(['NO', 'Std_No', 'Std_Name', 'Std_C', 'Ing_D', 'Ing_Y', 'Ing_N', 'Mat_D',
       'Mat_Y', 'Mat_N', 'Fen_D', 'Fen_Y', 'Fen_N', 'Top_D', 'Top_Y', 'Top_N',
       'LGS', 'Der_C_S', 'Der_Mer', 'Der_Ama', 'Der_Gnl', 'SINAV', 'Tur_D',
       'Tur_Y', 'Tur_N', 'Tar_D', 'Tar_Y', 'Tar_N', 'Din_D', 'Din_Y', 'Din_N'],
      dtype='object')

In [509]:
df[["Der_C","Der_S"]] =df["Der_C_S"].str.extract("(\d+)\s+(\d+)")
df.drop(columns=["Der_C_S"], inplace=True)

In [510]:
df.head()

,NO,Std_No,Std_Name,Std_C,Ing_D,Ing_Y,Ing_N,Mat_D,Mat_Y,Mat_N,...,Tur_Y,Tur_N,Tar_D,Tar_Y,Tar_N,Din_D,Din_Y,Din_N,Der_C,Der_S
0,1,253,ZEYNEP TÜREL,5C,10.0,0.0,10.00,15,0,15.00,...,1,"13,67",10,0,"10,00",9,1,"8,67",1,1
1,2,104,ASUDE YÜKSEL,5B,10.0,0.0,10.00,15,0,15.00,...,1,"13,67",9,1,"8,67",9,1,"8,67",1,2
2,3,360,ALPER ÖZDEMİR,5A,8.0,2.0,7.33,15,0,15.00,...,2,"12,33",8,2,"7,33",10,0,"10,00",1,3
3,4,356,TAHA TAŞ,5A,4.0,3.0,3.00,15,0,15.00,...,1,"13,67",9,1,"8,67",10,0,"10,00",2,4
4,5,367,BEYZA KILIÇ,5B,10.0,0.0,10.00,13,2,12.33,...,1,"13,67",10,0,"10,00",10,0,"10,00",2,5

In [511]:
df_n = pd.concat([df_2,df_5,df_4])
df_n.columns

Index(['NO', 'Std_No', 'Std_Name', 'Std_C', 'Tur_D_Y_N', 'Tar_D_Y_N',
       'Din_D_Y_N', 'Ing_D', 'Ing_Y', 'Ing_N', 'Mat_D_Y_N', 'Fen_D_Y_N',
       'Top_D', 'Top_Y', 'Top_N', 'LGS', 'Der_C_S', 'Der_Mer', 'Der_Ama',
       'Der_Gnl', 'SINAV'],
      dtype='object')

In [512]:
ex_Tur = df_n["Tur_D_Y_N"].str.extract("(\d+)\s+(\d\d?)\s+(.*)")
ex_Tar = df_n["Tar_D_Y_N"].str.extract("(\d+)\s+(\d\d?)\s+(.*)")
ex_Din = df_n["Din_D_Y_N"].str.extract("(\d+)\s+(\d\d?)\s+(.*)")
ex_Mat = df_n["Mat_D_Y_N"].str.extract("(\d+)\s+(\d\d?)\s+(.*)")
ex_Fen = df_n["Fen_D_Y_N"].str.extract("(\d+)\s+(\d\d?)\s+(.*)")
df_n[["Der_C","Der_S"]] = df_n["Der_C_S"].str.extract("(\d+)\s+(\d+)")

In [513]:
df_n[["Tur_D","Tur_Y","Tur_N"]] = ex_Tur
df_n[["Tar_D","Tar_Y","Tar_N"]] = ex_Tar
df_n[["Din_D","Din_Y","Din_N"]] = ex_Din
df_n[["Mat_D","Mat_Y","Mat_N"]] = ex_Mat
df_n[["Fen_D","Fen_Y","Fen_N"]] = ex_Fen

df_n.head()

,NO,Std_No,Std_Name,Std_C,Tur_D_Y_N,Tar_D_Y_N,Din_D_Y_N,Ing_D,Ing_Y,Ing_N,...,Tar_N,Din_D,Din_Y,Din_N,Mat_D,Mat_Y,Mat_N,Fen_D,Fen_Y,Fen_N
0,1,360,ALPER ÖZDEMİR,5A,"11 4 9,67","10 0 10,00","9 1 8,67",10.0,0.0,10.00,...,"10,00",9,1,"8,67",14,1,"13,67",14,1,"13,67"
1,2,358,TAHA TAŞ,5A,"12 3 11,00","9 1 8,67","8 2 7,33",9.0,1.0,8.67,...,"8,67",8,2,"7,33",15,0,"15,00",11,4,"9,67"
2,3,390,NİL BİLGE İZMİRLİ,5A,"11 2 10,33","9 1 8,67","9 1 8,67",10.0,0.0,10.00,...,"8,67",9,1,"8,67",11,1,"10,67",14,1,"13,67"
3,4,397,MELİK KAAN ÖZÇELİK,5A,"10 3 9,00","9 1 8,67","10 0 10,00",10.0,0.0,10.00,...,"8,67",10,0,"10,00",12,1,"11,67",13,2,"12,33"
4,5,156,ÇINAR GÜNGÖREN,5A,"10 5 8,33","10 0 10,00","7 1 6,67",10.0,0.0,10.00,...,"10,00",7,1,"6,67",11,1,"10,67",14,1,"13,67"

In [514]:
df_n.drop(columns=["Tur_D_Y_N","Tar_D_Y_N","Din_D_Y_N","Mat_D_Y_N","Fen_D_Y_N","Der_C_S"], inplace=True)
df_n.head()

,NO,Std_No,Std_Name,Std_C,Ing_D,Ing_Y,Ing_N,Top_D,Top_Y,Top_N,...,Tar_N,Din_D,Din_Y,Din_N,Mat_D,Mat_Y,Mat_N,Fen_D,Fen_Y,Fen_N
0,1,360,ALPER ÖZDEMİR,5A,10.0,0.0,10.00,68,7,65.68,...,"10,00",9,1,"8,67",14,1,"13,67",14,1,"13,67"
1,2,358,TAHA TAŞ,5A,9.0,1.0,8.67,64,11,60.34,...,"8,67",8,2,"7,33",15,0,"15,00",11,4,"9,67"
2,3,390,NİL BİLGE İZMİRLİ,5A,10.0,0.0,10.00,64,6,62.01,...,"8,67",9,1,"8,67",11,1,"10,67",14,1,"13,67"
3,4,397,MELİK KAAN ÖZÇELİK,5A,10.0,0.0,10.00,64,7,61.67,...,"8,67",10,0,"10,00",12,1,"11,67",13,2,"12,33"
4,5,156,ÇINAR GÜNGÖREN,5A,10.0,0.0,10.00,62,8,59.34,...,"10,00",7,1,"6,67",11,1,"10,67",14,1,"13,67"

In [515]:
df_n.shape,df.shape

((200, 32), (202, 32))

In [516]:
df = pd.concat([df,df_n])

# 1. Data Anlama

In [517]:
df.head()

,NO,Std_No,Std_Name,Std_C,Ing_D,Ing_Y,Ing_N,Mat_D,Mat_Y,Mat_N,...,Tur_Y,Tur_N,Tar_D,Tar_Y,Tar_N,Din_D,Din_Y,Din_N,Der_C,Der_S
0,1,253,ZEYNEP TÜREL,5C,10.0,0.0,10.00,15,0,15.0,...,1,"13,67",10,0,"10,00",9,1,"8,67",1,1
1,2,104,ASUDE YÜKSEL,5B,10.0,0.0,10.00,15,0,15.0,...,1,"13,67",9,1,"8,67",9,1,"8,67",1,2
2,3,360,ALPER ÖZDEMİR,5A,8.0,2.0,7.33,15,0,15.0,...,2,"12,33",8,2,"7,33",10,0,"10,00",1,3
3,4,356,TAHA TAŞ,5A,4.0,3.0,3.00,15,0,15.0,...,1,"13,67",9,1,"8,67",10,0,"10,00",2,4
4,5,367,BEYZA KILIÇ,5B,10.0,0.0,10.00,13,2,12.33,...,1,"13,67",10,0,"10,00",10,0,"10,00",2,5

In [518]:
df.columns

Index(['NO', 'Std_No', 'Std_Name', 'Std_C', 'Ing_D', 'Ing_Y', 'Ing_N', 'Mat_D',
       'Mat_Y', 'Mat_N', 'Fen_D', 'Fen_Y', 'Fen_N', 'Top_D', 'Top_Y', 'Top_N',
       'LGS', 'Der_Mer', 'Der_Ama', 'Der_Gnl', 'SINAV', 'Tur_D', 'Tur_Y',
       'Tur_N', 'Tar_D', 'Tar_Y', 'Tar_N', 'Din_D', 'Din_Y', 'Din_N', 'Der_C',
       'Der_S'],
      dtype='object')

In [519]:
df = df[['NO','Std_No', 'Std_Name', 'Std_C', 'SINAV', 'LGS',
         'Tur_D', 'Tur_Y', 'Tur_N', 'Din_D','Din_Y', 'Din_N', 'Tar_D', 'Tar_Y', 'Tar_N',
         'Ing_D',  'Ing_Y','Ing_N','Mat_D',  'Mat_Y','Mat_N', 'Fen_D',  'Fen_Y','Fen_N', 'Top_D',  'Top_Y','Top_N',
         'Der_C','Der_S','Der_Mer','Der_Ama','Der_Gnl' ]]

In [520]:
df.head()

,NO,Std_No,Std_Name,Std_C,SINAV,LGS,Tur_D,Tur_Y,Tur_N,Din_D,...,Fen_Y,Fen_N,Top_D,Top_Y,Top_N,Der_C,Der_S,Der_Mer,Der_Ama,Der_Gnl
0,1,253,ZEYNEP TÜREL,5C,Argon_CDS,488.641,14,1,"13,67",9,...,0,15.0,73,2,72.34,1,1,1,1,1
1,2,104,ASUDE YÜKSEL,5B,Argon_CDS,476.061,14,1,"13,67",9,...,1,13.67,71,4,69.68,1,2,2,2,6
2,3,360,ALPER ÖZDEMİR,5A,Argon_CDS,469.712,13,2,"12,33",10,...,0,15.0,69,6,66.99,1,3,3,3,12
3,4,356,TAHA TAŞ,5A,Argon_CDS,469.488,14,1,"13,67",10,...,0,15.0,67,5,65.34,2,4,4,4,13
4,5,367,BEYZA KILIÇ,5B,Argon_CDS,462.012,14,1,"13,67",10,...,0,14.0,71,3,70.00,2,5,5,5,25

In [521]:
df.shape

(402, 32)

In [522]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 402 entries, 0 to 72
Data columns (total 32 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NO        402 non-null    int64
 1   Std_No    402 non-null    int64
 2   Std_Name  402 non-null    object
 3   Std_C     402 non-null    object
 4   SINAV     402 non-null    object
 5   LGS       402 non-null    float64
 6   Tur_D     395 non-null    object
 7   Tur_Y     395 non-null    object
 8   Tur_N     395 non-null    object
 9   Din_D     399 non-null    object
 10  Din_Y     399 non-null    object
 11  Din_N     399 non-null    object
 12  Tar_D     401 non-null    object
 13  Tar_Y     401 non-null    object
 14  Tar_N     401 non-null    object
 15  Ing_D     399 non-null    float64
 16  Ing_Y     399 non-null    float64
 17  Ing_N     399 non-null    float64
 18  Mat_D     401 non-null    object
 19  Mat_Y     401 non-null    object
 20  Mat_N     401 non-null    object
 21  Fen_D     400 non-null    object
 22  Fen_Y     400 non-null    object
 23  Fen_N     400 non-null    object
 24  Top_D     402 non-null    int64
 25  Top_Y     402 non-null    int64
 26  Top_N     402 non-null    float64
 27  Der_C     402 non-null    object
 28  Der_S     402 non-null    object
 29  Der_Mer   402 non-null    int64
 30  Der_Ama   402 non-null    int64
 31  Der_Gnl   362 non-null    object
dtypes: float64(5), int64(6), object(21)
memory usage: 103.6+ KB

In [523]:
 df[["Tur_D", 'Tur_Y', 'Din_D',
       'Din_Y', "Tar_D", 'Tar_Y', 'Mat_D', 'Mat_Y','Ing_D', 'Ing_Y',
       'Fen_D', 'Fen_Y']] = df[["Tur_D", 'Tur_Y', 'Din_D',
       'Din_Y', "Tar_D", 'Tar_Y', 'Mat_D', 'Mat_Y','Ing_D', 'Ing_Y',
       'Fen_D', 'Fen_Y']].astype(dtype=float)

Burada type ları değiştirerek dataframei normale döndürüyoruz

In [524]:
df.reset_index(drop=True, inplace=True)

In [525]:
df.replace(",",".")

,NO,Std_No,Std_Name,Std_C,SINAV,LGS,Tur_D,Tur_Y,Tur_N,Din_D,...,Fen_Y,Fen_N,Top_D,Top_Y,Top_N,Der_C,Der_S,Der_Mer,Der_Ama,Der_Gnl
0,1,253,ZEYNEP TÜREL,5C,Argon_CDS,488.641,14.0,1.0,"13,67",9.0,...,0.0,15.0,73,2,72.34,1,1,1,1,1
1,2,104,ASUDE YÜKSEL,5B,Argon_CDS,476.061,14.0,1.0,"13,67",9.0,...,1.0,13.67,71,4,69.68,1,2,2,2,6
2,3,360,ALPER ÖZDEMİR,5A,Argon_CDS,469.712,13.0,2.0,"12,33",10.0,...,0.0,15.0,69,6,66.99,1,3,3,3,12
3,4,356,TAHA TAŞ,5A,Argon_CDS,469.488,14.0,1.0,"13,67",10.0,...,0.0,15.0,67,5,65.34,2,4,4,4,13
4,5,367,BEYZA KILIÇ,5B,Argon_CDS,462.012,14.0,1.0,"13,67",10.0,...,0.0,14.0,71,3,70.00,2,5,5,5,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,69,111,UĞURCAN GÜPÜR,5B,Mozaik_2,156.113,5.0,10.0,"1,67",4.0,...,11.0,"0,33",25,48,9.00,22,69,95,102,NaN
398,70,265,ASEL KARAKAYA,5B,Mozaik_2,147.573,6.0,9.0,"3,00",1.0,...,6.0,"1,00",20,39,7.01,23,70,99,108,NaN
399,71,103,EYMEN ERTÜRK,5B,Mozaik_2,131.393,2.0,13.0,"-2,33",2.0,...,7.0,"4,67",19,55,0.66,24,71,107,122,NaN
400,72,990,BORAN EKİM,5B,Mozaik_2,116.080,6.0,9.0,"3,00",0.0,...,11.0,"0,33",18,57,-1.00,25,72,112,129,NaN
401,73,86,*****ON ONUR,5C,Mozaik_2,93.980,2.0,7.0,"-0,33",2.0,...,13.0,"-2,33",16,53,-1.66,25,73,117,139,NaN

In [526]:
for i in df.select_dtypes(include=object).columns:
    df[i] = df[i].replace(",",".")
df

,NO,Std_No,Std_Name,Std_C,SINAV,LGS,Tur_D,Tur_Y,Tur_N,Din_D,...,Fen_Y,Fen_N,Top_D,Top_Y,Top_N,Der_C,Der_S,Der_Mer,Der_Ama,Der_Gnl
0,1,253,ZEYNEP TÜREL,5C,Argon_CDS,488.641,14.0,1.0,"13,67",9.0,...,0.0,15.0,73,2,72.34,1,1,1,1,1
1,2,104,ASUDE YÜKSEL,5B,Argon_CDS,476.061,14.0,1.0,"13,67",9.0,...,1.0,13.67,71,4,69.68,1,2,2,2,6
2,3,360,ALPER ÖZDEMİR,5A,Argon_CDS,469.712,13.0,2.0,"12,33",10.0,...,0.0,15.0,69,6,66.99,1,3,3,3,12
3,4,356,TAHA TAŞ,5A,Argon_CDS,469.488,14.0,1.0,"13,67",10.0,...,0.0,15.0,67,5,65.34,2,4,4,4,13
4,5,367,BEYZA KILIÇ,5B,Argon_CDS,462.012,14.0,1.0,"13,67",10.0,...,0.0,14.0,71,3,70.00,2,5,5,5,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,69,111,UĞURCAN GÜPÜR,5B,Mozaik_2,156.113,5.0,10.0,"1,67",4.0,...,11.0,"0,33",25,48,9.00,22,69,95,102,NaN
398,70,265,ASEL KARAKAYA,5B,Mozaik_2,147.573,6.0,9.0,"3,00",1.0,...,6.0,"1,00",20,39,7.01,23,70,99,108,NaN
399,71,103,EYMEN ERTÜRK,5B,Mozaik_2,131.393,2.0,13.0,"-2,33",2.0,...,7.0,"4,67",19,55,0.66,24,71,107,122,NaN
400,72,990,BORAN EKİM,5B,Mozaik_2,116.080,6.0,9.0,"3,00",0.0,...,11.0,"0,33",18,57,-1.00,25,72,112,129,NaN
401,73,86,*****ON ONUR,5C,Mozaik_2,93.980,2.0,7.0,"-0,33",2.0,...,13.0,"-2,33",16,53,-1.66,25,73,117,139,NaN

In [527]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 32 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NO        402 non-null    int64
 1   Std_No    402 non-null    int64
 2   Std_Name  402 non-null    object
 3   Std_C     402 non-null    object
 4   SINAV     402 non-null    object
 5   LGS       402 non-null    float64
 6   Tur_D     395 non-null    float64
 7   Tur_Y     395 non-null    float64
 8   Tur_N     395 non-null    object
 9   Din_D     399 non-null    float64
 10  Din_Y     399 non-null    float64
 11  Din_N     399 non-null    object
 12  Tar_D     401 non-null    float64
 13  Tar_Y     401 non-null    float64
 14  Tar_N     401 non-null    object
 15  Ing_D     399 non-null    float64
 16  Ing_Y     399 non-null    float64
 17  Ing_N     399 non-null    float64
 18  Mat_D     401 non-null    float64
 19  Mat_Y     401 non-null    float64
 20  Mat_N     401 non-null    object
 21  Fen_D     400 non-null    float64
 22  Fen_Y     400 non-null    float64
 23  Fen_N     400 non-null    object
 24  Top_D     402 non-null    int64
 25  Top_Y     402 non-null    int64
 26  Top_N     402 non-null    float64
 27  Der_C     402 non-null    object
 28  Der_S     402 non-null    object
 29  Der_Mer   402 non-null    int64
 30  Der_Ama   402 non-null    int64
 31  Der_Gnl   362 non-null    object
dtypes: float64(15), int64(6), object(11)
memory usage: 100.6+ KB

In [528]:
for i in df.select_dtypes(include=object).columns:
    df[i] = df[i].transform(lambda x: str(x).replace(",",".") if "," in str(x) else str(x))

In [529]:
df.head()

,NO,Std_No,Std_Name,Std_C,SINAV,LGS,Tur_D,Tur_Y,Tur_N,Din_D,...,Fen_Y,Fen_N,Top_D,Top_Y,Top_N,Der_C,Der_S,Der_Mer,Der_Ama,Der_Gnl
0,1,253,ZEYNEP TÜREL,5C,Argon_CDS,488.641,14.0,1.0,13.67,9.0,...,0.0,15.0,73,2,72.34,1,1,1,1,1
1,2,104,ASUDE YÜKSEL,5B,Argon_CDS,476.061,14.0,1.0,13.67,9.0,...,1.0,13.67,71,4,69.68,1,2,2,2,6
2,3,360,ALPER ÖZDEMİR,5A,Argon_CDS,469.712,13.0,2.0,12.33,10.0,...,0.0,15.0,69,6,66.99,1,3,3,3,12
3,4,356,TAHA TAŞ,5A,Argon_CDS,469.488,14.0,1.0,13.67,10.0,...,0.0,15.0,67,5,65.34,2,4,4,4,13
4,5,367,BEYZA KILIÇ,5B,Argon_CDS,462.012,14.0,1.0,13.67,10.0,...,0.0,14.0,71,3,70.00,2,5,5,5,25

In [530]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 32 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NO        402 non-null    int64
 1   Std_No    402 non-null    int64
 2   Std_Name  402 non-null    object
 3   Std_C     402 non-null    object
 4   SINAV     402 non-null    object
 5   LGS       402 non-null    float64
 6   Tur_D     395 non-null    float64
 7   Tur_Y     395 non-null    float64
 8   Tur_N     402 non-null    object
 9   Din_D     399 non-null    float64
 10  Din_Y     399 non-null    float64
 11  Din_N     402 non-null    object
 12  Tar_D     401 non-null    float64
 13  Tar_Y     401 non-null    float64
 14  Tar_N     402 non-null    object
 15  Ing_D     399 non-null    float64
 16  Ing_Y     399 non-null    float64
 17  Ing_N     399 non-null    float64
 18  Mat_D     401 non-null    float64
 19  Mat_Y     401 non-null    float64
 20  Mat_N     402 non-null    object
 21  Fen_D     400 non-null    float64
 22  Fen_Y     400 non-null    float64
 23  Fen_N     402 non-null    object
 24  Top_D     402 non-null    int64
 25  Top_Y     402 non-null    int64
 26  Top_N     402 non-null    float64
 27  Der_C     402 non-null    object
 28  Der_S     402 non-null    object
 29  Der_Mer   402 non-null    int64
 30  Der_Ama   402 non-null    int64
 31  Der_Gnl   402 non-null    object
dtypes: float64(15), int64(6), object(11)
memory usage: 100.6+ KB

In [531]:
df.iloc[:,5:-1] = df.iloc[:,5:-1].astype(float)

In [532]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 32 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NO        402 non-null    int64
 1   Std_No    402 non-null    int64
 2   Std_Name  402 non-null    object
 3   Std_C     402 non-null    object
 4   SINAV     402 non-null    object
 5   LGS       402 non-null    float64
 6   Tur_D     395 non-null    float64
 7   Tur_Y     395 non-null    float64
 8   Tur_N     395 non-null    float64
 9   Din_D     399 non-null    float64
 10  Din_Y     399 non-null    float64
 11  Din_N     399 non-null    float64
 12  Tar_D     401 non-null    float64
 13  Tar_Y     401 non-null    float64
 14  Tar_N     401 non-null    float64
 15  Ing_D     399 non-null    float64
 16  Ing_Y     399 non-null    float64
 17  Ing_N     399 non-null    float64
 18  Mat_D     401 non-null    float64
 19  Mat_Y     401 non-null    float64
 20  Mat_N     401 non-null    float64
 21  Fen_D     400 non-null    float64
 22  Fen_Y     400 non-null    float64
 23  Fen_N     400 non-null    float64
 24  Top_D     402 non-null    float64
 25  Top_Y     402 non-null    float64
 26  Top_N     402 non-null    float64
 27  Der_C     402 non-null    float64
 28  Der_S     402 non-null    float64
 29  Der_Mer   402 non-null    float64
 30  Der_Ama   402 non-null    float64
 31  Der_Gnl   402 non-null    object
dtypes: float64(26), int64(2), object(4)
memory usage: 100.6+ KB

In [533]:
df.iloc[:,-1]

0        1
1        6
2       12
3       13
4       25
      ...
397    nan
398    nan
399    nan
400    nan
401    nan
Name: Der_Gnl, Length: 402, dtype: object

In [534]:
df.isnull().sum()

NO          0
Std_No      0
Std_Name    0
Std_C       0
SINAV       0
LGS         0
Tur_D       7
Tur_Y       7
Tur_N       7
Din_D       3
Din_Y       3
Din_N       3
Tar_D       1
Tar_Y       1
Tar_N       1
Ing_D       3
Ing_Y       3
Ing_N       3
Mat_D       1
Mat_Y       1
Mat_N       1
Fen_D       2
Fen_Y       2
Fen_N       2
Top_D       0
Top_Y       0
Top_N       0
Der_C       0
Der_S       0
Der_Mer     0
Der_Ama     0
Der_Gnl     0
dtype: int64

In [535]:
# df.iloc[:,-1] = df.iloc[:,-1].replace("nan",np.nan).astype(float)

ValueError: could not convert string to float: '77\n% 0.07'

In [536]:
df.iloc[:,-1] = df.iloc[:,-1].str.extract("(\d+)")

In [537]:
df.groupby("SINAV").head(2)

,NO,Std_No,Std_Name,Std_C,SINAV,LGS,Tur_D,Tur_Y,Tur_N,Din_D,...,Fen_Y,Fen_N,Top_D,Top_Y,Top_N,Der_C,Der_S,Der_Mer,Der_Ama,Der_Gnl
0,1,253,ZEYNEP TÜREL,5C,Argon_CDS,488.641,14.0,1.0,13.67,9.0,...,0.0,15.00,73.0,2.0,72.34,1.0,1.0,1.0,1.0,1
1,2,104,ASUDE YÜKSEL,5B,Argon_CDS,476.061,14.0,1.0,13.67,9.0,...,1.0,13.67,71.0,4.0,69.68,1.0,2.0,2.0,2.0,6
125,1,360,ALPER ÖZDEMİR,5A,Zeka,480.293,15.0,0.0,15.00,10.0,...,0.0,15.00,73.0,2.0,72.33,1.0,1.0,1.0,1.0,77
126,2,253,ZEYNEP TÜREL,5C,Zeka,463.360,13.0,2.0,12.33,10.0,...,0.0,15.00,71.0,4.0,69.66,1.0,2.0,2.0,7.0,275
202,1,360,ALPER ÖZDEMİR,5A,Mozaik_1,443.880,11.0,4.0,9.67,9.0,...,1.0,13.67,68.0,7.0,65.68,1.0,1.0,1.0,1.0,244
203,2,358,TAHA TAŞ,5A,Mozaik_1,424.093,12.0,3.0,11.00,8.0,...,4.0,9.67,64.0,11.0,60.34,2.0,2.0,2.0,2.0,623
275,1,360,ALPER ÖZDEMİR,5A,Mozaik_3,431.413,13.0,2.0,12.33,10.0,...,2.0,12.33,67.0,8.0,64.33,1.0,1.0,1.0,1.0,89
276,2,104,ASUDE YÜKSEL,5B,Mozaik_3,417.960,14.0,1.0,13.67,9.0,...,4.0,9.67,65.0,10.0,61.68,1.0,2.0,2.0,2.0,139
329,1,253,ZEYNEP TÜREL,5C,Mozaik_2,444.073,13.0,2.0,12.33,10.0,...,2.0,12.33,68.0,5.0,66.33,1.0,1.0,1.0,1.0,133
330,2,360,ALPER ÖZDEMİR,5A,Mozaik_2,435.507,13.0,2.0,12.33,8.0,...,2.0,12.33,66.0,9.0,62.99,1.0,2.0,2.0,2.0,198

In [538]:
df["TotaL"]=df["SINAV"].transform(lambda x: 1970 if x == "Argon_CDS" else (72784 if x == "Mozaik_1" else (103126 if x == "Zeka" else (32439 if x == "Mozaik_2" else 9826))))

In [539]:
df.groupby("SINAV").head(5)

,NO,Std_No,Std_Name,Std_C,SINAV,LGS,Tur_D,Tur_Y,Tur_N,Din_D,...,Fen_N,Top_D,Top_Y,Top_N,Der_C,Der_S,Der_Mer,Der_Ama,Der_Gnl,TotaL
0,1,253,ZEYNEP TÜREL,5C,Argon_CDS,488.641,14.0,1.0,13.67,9.0,...,15.00,73.0,2.0,72.34,1.0,1.0,1.0,1.0,1,1970
1,2,104,ASUDE YÜKSEL,5B,Argon_CDS,476.061,14.0,1.0,13.67,9.0,...,13.67,71.0,4.0,69.68,1.0,2.0,2.0,2.0,6,1970
2,3,360,ALPER ÖZDEMİR,5A,Argon_CDS,469.712,13.0,2.0,12.33,10.0,...,15.00,69.0,6.0,66.99,1.0,3.0,3.0,3.0,12,1970
3,4,356,TAHA TAŞ,5A,Argon_CDS,469.488,14.0,1.0,13.67,10.0,...,15.00,67.0,5.0,65.34,2.0,4.0,4.0,4.0,13,1970
4,5,367,BEYZA KILIÇ,5B,Argon_CDS,462.012,14.0,1.0,13.67,10.0,...,14.00,71.0,3.0,70.00,2.0,5.0,5.0,5.0,25,1970
125,1,360,ALPER ÖZDEMİR,5A,Zeka,480.293,15.0,0.0,15.00,10.0,...,15.00,73.0,2.0,72.33,1.0,1.0,1.0,1.0,77,103126
126,2,253,ZEYNEP TÜREL,5C,Zeka,463.360,13.0,2.0,12.33,10.0,...,15.00,71.0,4.0,69.66,1.0,2.0,2.0,7.0,275,103126
127,3,390,NİL BİLGE İZMİRLİ,5A,Zeka,452.607,15.0,0.0,15.00,10.0,...,15.00,69.0,4.0,67.67,2.0,3.0,3.0,8.0,484,103126
128,4,170,DURU ŞAHİN,5A,Zeka,432.640,12.0,3.0,11.00,9.0,...,13.67,67.0,8.0,64.34,3.0,4.0,4.0,17.0,1107,103126
129,5,200,KORAY GACARLAR,5B,Zeka,432.193,15.0,0.0,15.00,10.0,...,10.33,67.0,4.0,65.66,1.0,5.0,5.0,18.0,1132,103126
202,1,360,ALPER ÖZDEMİR,5A,Mozaik_1,443.880,11.0,4.0,9.67,9.0,...,13.67,68.0,7.0,65.68,1.0,1.0,1.0,1.0,244,72784
203,2,358,TAHA TAŞ,5A,Mozaik_1,424.093,12.0,3.0,11.00,8.0,...,9.67,64.0,11.0,60.34,2.0,2.0,2.0,2.0,623,72784
204,3,390,NİL BİLGE İZMİRLİ,5A,Mozaik_1,422.890,11.0,2.0,10.33,9.0,...,13.67,64.0,6.0,62.01,3.0,3.0,3.0,3.0,656,72784
205,4,397,MELİK KAAN ÖZÇELİK,5A,Mozaik_1,415.173,10.0,3.0,9.00,10.0,...,12.33,64.0,7.0,61.67,4.0,4.0,5.0,5.0,871,72784
206,5,156,ÇINAR GÜNGÖREN,5A,Mozaik_1,408.923,10.0,5.0,8.33,7.0,...,13.67,62.0,8.0,59.34,5.0,5.0,6.0,6.0,1100,72784
275,1,360,ALPER ÖZDEMİR,5A,Mozaik_3,431.413,13.0,2.0,12.33,10.0,...,12.33,67.0,8.0,64.33,1.0,1.0,1.0,1.0,89,9826
276,2,104,ASUDE YÜKSEL,5B,Mozaik_3,417.960,14.0,1.0,13.67,9.0,...,9.67,65.0,10.0,61.68,1.0,2.0,2.0,2.0,139,9826
277,3,358,TAHA TAŞ,5A,Mozaik_3,414.110,13.0,1.0,12.67,6.0,...,13.67,54.0,6.0,52.00,2.0,3.0,3.0,3.0,154,9826
278,4,200,KORAY GACARLAR,5B,Mozaik_3,408.280,13.0,1.0,12.67,9.0,...,13.67,61.0,10.0,57.68,2.0,4.0,4.0,4.0,188,9826
279,5,367,BEYZA KILIÇ,5B,Mozaik_3,404.303,14.0,1.0,13.67,8.0,...,11.00,62.0,12.0,58.00,3.0,5.0,5.0,5.0,208,9826
329,1,253,ZEYNEP TÜREL,5C,Mozaik_2,444.073,13.0,2.0,12.33,10.0,...,12.33,68.0,5.0,66.33,1.0,1.0,1.0,1.0,133,32439
330,2,360,ALPER ÖZDEMİR,5A,Mozaik_2,435.507,13.0,2.0,12.33,8.0,...,12.33,66.0,9.0,62.99,1.0,2.0,2.0,2.0,198,32439
331,3,367,BEYZA KILIÇ,5B,Mozaik_2,428.097,12.0,3.0,11.00,9.0,...,12.67,64.0,9.0,61.01,1.0,3.0,3.0,3.0,292,32439
332,4,200,KORAY GACARLAR,5B,Mozaik_2,415.253,10.0,5.0,8.33,6.0,...,11.00,62.0,12.0,58.00,2.0,4.0,4.0,4.0,462,32439
333,5,390,NİL BİLGE İZMİRLİ,5A,Mozaik_2,411.510,10.0,4.0,8.67,10.0,...,12.33,62.0,10.0,58.67,2.0,5.0,5.0,5.0,507,32439

In [541]:
df["Std_Name"].value_counts()

ZEYNEP TÜREL        5
ASUDE YÜKSEL        5
MERT ARİF ÇITLAK    5
SEMİH UYANIK        5
NAZ ALTUNKİREMİT    5
                   ..
**D *N  L           1
MUHAMMETEMİN        1
ALİYAĞIZÖNCÜL       1
SUDE BOZ            1
*****ON  ONUR       1
Name: Std_Name, Length: 181, dtype: int64

In [542]:
df["Std_No"].value_counts()

0       8
253     5
498     5
520     5
172     5
       ..
3131    1
139     1
557     1
556     1
86      1
Name: Std_No, Length: 136, dtype: int64

In [546]:
df[df["Std_No"] == 0]

,NO,Std_No,Std_Name,Std_C,SINAV,LGS,Tur_D,Tur_Y,Tur_N,Din_D,...,Fen_N,Top_D,Top_Y,Top_N,Der_C,Der_S,Der_Mer,Der_Ama,Der_Gnl,TotaL
42,43,0,CEREN TÜRKER,5D,Argon_CDS,354.303,8.0,7.0,5.67,6.0,...,13.67,53.0,22.0,45.68,6.0,43.0,43.0,43.0,428,1970
110,111,0,MUH*E ***C,5B,Argon_CDS,168.865,6.0,9.0,3.00,2.0,...,0.33,28.0,47.0,12.33,29.0,111.0,111.0,111.0,1589,1970
118,119,0,** *N N D,5C,Argon_CDS,135.457,6.0,9.0,3.00,2.0,...,3.00,21.0,54.0,2.99,29.0,119.0,119.0,119.0,1748,1970
120,121,0,EFE ÖZYILM AZ,5D,Argon_CDS,125.896,2.0,13.0,-2.33,2.0,...,4.33,20.0,55.0,1.67,30.0,121.0,121.0,121.0,1803,1970
121,122,0,RU*ĞA*K,*B,Argon_CDS,124.543,7.0,8.0,4.33,2.0,...,0.33,22.0,53.0,4.32,1.0,122.0,122.0,122.0,1809,1970
197,73,0,A * UN *NR,5C,Zeka,158.547,9.0,6.0,7.00,4.0,...,0.33,27.0,48.0,11.00,19.0,73.0,113.0,330.0,71143,103126
253,52,0,ECRİNNAZ KORKMAZ,5C,Mozaik_1,215.067,5.0,10.0,1.67,9.0,...,5.67,37.0,38.0,24.35,14.0,52.0,83.0,86.0,25194,72784
327,53,0,YUSUF ZİYA SARI,5C,Mozaik_3,171.057,3.0,9.0,0.00,9.0,...,1.67,33.0,39.0,20.00,10.0,53.0,53.0,53.0,5524,9826

In [545]:
df[df["Std_Name"].isin(df[df["Std_No"] == 0]["Std_Name"])]

,NO,Std_No,Std_Name,Std_C,SINAV,LGS,Tur_D,Tur_Y,Tur_N,Din_D,...,Fen_N,Top_D,Top_Y,Top_N,Der_C,Der_S,Der_Mer,Der_Ama,Der_Gnl,TotaL
42,43,0,CEREN TÜRKER,5D,Argon_CDS,354.303,8.0,7.0,5.67,6.0,...,13.67,53.0,22.0,45.68,6.0,43.0,43.0,43.0,428,1970
104,105,126,ECRİNNAZ KORKMAZ,5C,Argon_CDS,189.379,7.0,8.0,4.33,8.0,...,1.67,34.0,41.0,20.33,27.0,105.0,105.0,105.0,1440,1970
110,111,0,MUH*E ***C,5B,Argon_CDS,168.865,6.0,9.0,3.00,2.0,...,0.33,28.0,47.0,12.33,29.0,111.0,111.0,111.0,1589,1970
118,119,0,** *N N D,5C,Argon_CDS,135.457,6.0,9.0,3.00,2.0,...,3.00,21.0,54.0,2.99,29.0,119.0,119.0,119.0,1748,1970
120,121,0,EFE ÖZYILM AZ,5D,Argon_CDS,125.896,2.0,13.0,-2.33,2.0,...,4.33,20.0,55.0,1.67,30.0,121.0,121.0,121.0,1803,1970
121,122,0,RU*ĞA*K,*B,Argon_CDS,124.543,7.0,8.0,4.33,2.0,...,0.33,22.0,53.0,4.32,1.0,122.0,122.0,122.0,1809,1970
197,73,0,A * UN *NR,5C,Zeka,158.547,9.0,6.0,7.00,4.0,...,0.33,27.0,48.0,11.00,19.0,73.0,113.0,330.0,71143,103126
253,52,0,ECRİNNAZ KORKMAZ,5C,Mozaik_1,215.067,5.0,10.0,1.67,9.0,...,5.67,37.0,38.0,24.35,14.0,52.0,83.0,86.0,25194,72784
327,53,0,YUSUF ZİYA SARI,5C,Mozaik_3,171.057,3.0,9.0,0.00,9.0,...,1.67,33.0,39.0,20.00,10.0,53.0,53.0,53.0,5524,9826

In [550]:
df.sort_values(by=["Std_No","Std_Name"]).head(20)

,NO,Std_No,Std_Name,Std_C,SINAV,LGS,Tur_D,Tur_Y,Tur_N,Din_D,...,Fen_N,Top_D,Top_Y,Top_N,Der_C,Der_S,Der_Mer,Der_Ama,Der_Gnl,TotaL
118,119,0,** *N N D,5C,Argon_CDS,135.457,6.0,9.0,3.00,2.0,...,3.00,21.0,54.0,2.99,29.0,119.0,119.0,119.0,1748,1970
197,73,0,A * UN *NR,5C,Zeka,158.547,9.0,6.0,7.00,4.0,...,0.33,27.0,48.0,11.00,19.0,73.0,113.0,330.0,71143,103126
42,43,0,CEREN TÜRKER,5D,Argon_CDS,354.303,8.0,7.0,5.67,6.0,...,13.67,53.0,22.0,45.68,6.0,43.0,43.0,43.0,428,1970
253,52,0,ECRİNNAZ KORKMAZ,5C,Mozaik_1,215.067,5.0,10.0,1.67,9.0,...,5.67,37.0,38.0,24.35,14.0,52.0,83.0,86.0,25194,72784
120,121,0,EFE ÖZYILM AZ,5D,Argon_CDS,125.896,2.0,13.0,-2.33,2.0,...,4.33,20.0,55.0,1.67,30.0,121.0,121.0,121.0,1803,1970
110,111,0,MUH*E ***C,5B,Argon_CDS,168.865,6.0,9.0,3.00,2.0,...,0.33,28.0,47.0,12.33,29.0,111.0,111.0,111.0,1589,1970
121,122,0,RU*ĞA*K,*B,Argon_CDS,124.543,7.0,8.0,4.33,2.0,...,0.33,22.0,53.0,4.32,1.0,122.0,122.0,122.0,1809,1970
327,53,0,YUSUF ZİYA SARI,5C,Mozaik_3,171.057,3.0,9.0,0.00,9.0,...,1.67,33.0,39.0,20.00,10.0,53.0,53.0,53.0,5524,9826
72,73,1,ARDA KAYGISI Z,5A,Argon_CDS,272.385,10.0,3.0,9.00,5.0,...,6.33,39.0,24.0,31.00,20.0,73.0,73.0,73.0,905,1970
270,69,1,ARDA KAYGISIZ,5A,Mozaik_1,130.477,NaN,NaN,NaN,5.0,...,2.00,23.0,48.0,7.00,20.0,69.0,169.0,185.0,56541,72784
384,56,1,ARDA KAYGISIZ,5A,Mozaik_2,223.220,10.0,4.0,8.67,6.0,...,-3.00,35.0,29.0,25.34,19.0,56.0,62.0,64.0,NaN,32439
100,101,11,DELFİN ADA ÇULHA,5A,Argon_CDS,197.213,6.0,9.0,3.00,5.0,...,3.00,30.0,44.0,15.33,28.0,101.0,101.0,101.0,1384,1970
263,62,11,DELFİN ADA ÇULHA,5A,Mozaik_1,161.853,7.0,8.0,4.33,3.0,...,1.67,25.0,50.0,8.34,18.0,62.0,130.0,141.0,42741,72784
328,54,11,DELFİN ADA ÇULHA,5A,Mozaik_3,122.423,4.0,11.0,0.33,4.0,...,0.33,21.0,53.0,3.33,14.0,54.0,54.0,54.0,8069,9826
368,40,23,ADASU YILMAZ,5C,Mozaik_2,307.753,10.0,5.0,8.33,9.0,...,5.33,47.0,15.0,42.00,15.0,40.0,40.0,41.0,NaN,32439
34,35,23,ADASUYILMAZ,5C,Argon_CDS,376.207,10.0,5.0,8.33,9.0,...,9.00,56.0,13.0,51.67,11.0,35.0,35.0,35.0,315,1970
47,48,51,DERİN ERDEN,5D,Argon_CDS,341.654,11.0,4.0,9.67,8.0,...,11.00,50.0,24.0,42.00,7.0,48.0,48.0,48.0,490,1970
49,50,55,MUSTAFA EGE AĞLAN,5A,Argon_CDS,337.727,11.0,4.0,9.67,7.0,...,5.67,53.0,20.0,46.34,13.0,50.0,50.0,50.0,504,1970
167,43,55,MUSTAFA EGE AĞLAN,5A,Zeka,289.680,9.0,6.0,7.00,9.0,...,7.00,50.0,25.0,41.67,16.0,43.0,53.0,146.0,19337,103126
229,28,55,MUSTAFA EGE AĞLAN,5A,Mozaik_1,303.517,7.0,8.0,4.33,7.0,...,5.67,50.0,24.0,42.01,10.0,28.0,33.0,34.0,8999,72784

In [555]:
df.groupby("Std_Name")["Std_No"].value_counts().to_frame().head(50)

                              Std_No
Std_Name              Std_No
** *N  N            D 0            1
*****ON  ONUR         86           1
**D *N  L             242          1
*UAM ERAKÇAY          481          1
*UHAMMEU DOĞANB       317          1
*ĞURCAN GÜPÜR         111          1
A * UN *NR            0            1
A*  ER ** **E         534          1
ADASU YILMAZ          23           1
ADASUYILMAZ           23           1
AKİF EROL             114          2
ALPER ÖZDEMİR         360          5
ALİ YAĞIZ ÖNCÜL       252          2
ALİYAĞIZÖNCÜL         252          1
ARDA KAYGISI Z        1            1
ARDA KAYGISIZ         1            2
ARDA KAĞAN KUTLU      191          1
ARDA KUTLUCA          191          3
ASEL BAYRAKTAR        503          2
ASEL BAYRAKTR         503          1
ASEL KARAKAYA         265          3
ASLI ARAT             162          1
                      622          1
ASUDE YÜKSEL          104          5
ASYA  DURAN           508          1
ASYA BAYBURTLU        207          4
ASYA DURAN            508          3
AYŞE ELİF ERGÜ ER     388          1
AYŞE ELİF ERGÜLER     388          3
AYŞE KARAKOÇ          470          1
AZRA BULUT            215          3
                      275          1
AZRA KARAH*LI         132          1
AZRA KARAHANLI        132          2
BAYRAM DEVRAN KU      376          1
                      476          1
BEGÜM YILMAZ          193          1
BELİNAY KARAÖZ        68           3
BERAT ÜZÜM            125          2
BERRA YAVUZ           183          4
BERRAK AYAN           502          4
BERİL COMERT          90           2
BERİL PERVANE         297          4
BERİLCOMERT           90           1
BEYZA KILIÇ           367          5
BORAN EKİM            99           3
                      990          1
BİLGE BAL             152          5
CEMALBARANOKYAY       171          1
CEREN A Y*LI          336          1